.bomb {
    background-color: darkred;
}

.grid {
    /* padding-top: 3%; */
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.tile {
    display: inline-block;
    width: 25px;
    height: 25px;
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
    /* border-radius: 3px; */
    /* background-color: rgb(255, 0, 0); */
    /* background-color: blue; */
    background:
        linear-gradient(to bottom right, rgb(255, 255, 255) 50%, rgb(128, 128, 128) 50%);
}

.tiletop {
    margin: 3px;
    height: 19px;
    width: 19px;
    background: rgb(192, 192, 192);
}


.tile:hover {
    background:
        linear-gradient(to top left, rgba(255, 255, 255, .3) 50%, rgba(128, 128, 128, .3) 50%);
/*     
        linear-gradient(to bottom right, rgb(255, 255, 255) 50%, rgb(107, 107, 107) 50%); */
/* //    border-color: rgb(62, 62, 150); */
}
/* .tiletop:hover{
    background-color: rgb(128, 128, 128);
} */


.tile p {
    margin: 0;
    padding: 0;
    color: black;
}

.row {
    width: inherit;
    height: 25px;
    /* background: black; */
    text-align: center;
}
.mineexe {
    /* background-color: grey; */
    height: fit-content;
    width: fit-content;
}
