:root{
   /* //color:brown; */
    /* color: dark */
    --clr-1: Blue;
    --clr-2: Darkgreen;
    --clr-3: Red;
    --clr-4: Darkblue;
    --clr-5: darkred;
    --clr-6: DarkTurquoise;
    --clr-7: darkorchid;
    --clr-8: darkGrey;
}

.grid {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    border-width: 0;
    border-right: 1px;
    border-bottom: 1px;
    border-color: grey;
    border-style: solid;
}

.tile {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-width: 0;
    border-left: 1px;
    border-color: grey;
    border-style:dotted;
    background:
        linear-gradient(to bottom right, rgb(255, 255, 255) 50%, rgb(128, 128, 128) 50%);
}

.tiletop {
    position: relative;
    margin: 3px;
    height: 19px;
    width: 19px;
    background: rgb(192, 192, 192);
}


.tile:hover {
    background:
        linear-gradient(to top left, rgba(255, 255, 255, .3) 50%, rgba(128, 128, 128, .3) 50%);
}

.tile p {
    font-family: 'Open Sans', sans-serif;
    /* set color according to number. (js.) color: rgb(216, 216, 216); */
    font-weight: 900;
    margin: 0 auto;
    position: absolute;
    width: inherit;
    align-items: center;
}

.row {
    width: inherit;
    height: 25px;
    text-align: center;
    border-width: 0;
    border-top: 1px;
    border-style: solid;
    border-color: grey;
}
.mineexe {
    /* background-color: grey; */
    height: fit-content;
    width: fit-content;
}
.unsellectable{
    user-select: none;
}