:root {
    --ui-scale: 1;
    --clr-blue: linear-gradient(to bottom,
            rgb(49, 104, 213) 0%,
            rgb(73, 147, 230) 10%,
            rgb(34, 87, 213) 27%,
            rgb(38, 99, 224) 86%,
            rgb(25, 65, 165) 100%);
    --clr-green: radial-gradient(circle at center, transparent 90%, rgba(0, 0, 0, 0.2) 97%),
        linear-gradient(165deg, rgba(255, 255, 255, 0.6), transparent 20%, rgba(0, 0, 0, 0.3)),
        linear-gradient(110deg, transparent 87%, rgba(0, 0, 0, 0.3)),
        linear-gradient(to bottom,
            rgb(58, 131, 60) 0%,
            rgb(141, 191, 142) 10%,
            rgb(74, 153, 75) 30%,
            rgb(59, 172, 60) 83%,
            rgb(38, 117, 68) 100%);
    --clr-red: radial-gradient(circle at center, transparent 90%, rgba(0, 0, 0, 0.2) 97%),
        linear-gradient(165deg, rgba(255, 255, 255, 0.6), transparent 20%, rgba(0, 0, 0, 0.3)),
        linear-gradient(110deg, transparent 87%, rgba(0, 0, 0, 0.3)),
        linear-gradient(to bottom,
            rgb(58, 131, 60) 0%,
            rgb(141, 191, 142) 10%,
            rgb(74, 153, 75) 30%,
            rgb(59, 172, 60) 83%,
            rgb(38, 117, 68) 100%);

    --clr-cyan: linear-gradient(to bottom,
            rgb(43, 187, 249) 0%,
            rgb(108, 212, 250) 13%,
            rgb(25, 183, 241) 29%,
            rgb(15, 143, 233) 90%,
            rgb(25, 65, 165) 100%);
    --clr-loading: black;
    --clr-b-grey: rgb(76, 76, 76);
    --clr-button: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4) 13%, transparent 80%, black), linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.6) 5%, transparent 19%, transparent 87%, rgba(0, 0, 0, 0.5)),
        linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.4) 5%, transparent 19%, transparent 87%, rgba(0, 0, 0, 0.5));
}

#startup {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: grey;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.darken {
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: 0.5;
    position: fixed;
}

.xpbutton {
    border-radius: 12%;
    margin: 10% auto;
    z-index: 2;
}

.gone {
    display: none;
}

.square {
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: grey;
}

.circle {
    background: radial-gradient(circle at center, transparent 45%, white 45%, white 55%, transparent 55%);
    height: 100%;
    width: 100%;
    margin: auto auto;
    border-radius: 100%;
}

.vbar {
    background: linear-gradient(to bottom, transparent 30%, white 30%, white 70%, transparent 70%);
    height: 100%;
    width: 7%;
    margin: auto auto;
}


.power-on {
    background: linear-gradient(94deg, transparent 0%, rgba(255, 255, 255, 0.3) 5%, transparent 13%, transparent 80%, rgba(0, 0, 0, 0.38) 100%),
        linear-gradient(179deg, transparent 0%, rgba(255, 255, 255, 0.4) 5%, transparent 13%, transparent 90%, rgba(0, 0, 0, 0.4) 100%), rgb(59, 172, 60);
    filter: saturate(0.8);
}

.power-on:hover {
    box-shadow: 0 0 18px rgb(0, 255, 0);
    filter: saturate(4);
}

html {
    background-color: var(--clr-loading);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.hide {
    opacity: 0;
}

#progressbar {
    margin-top: 30px;
    background-color: var(--clr-loading);
    border-color: var(--clr-b-grey);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    height: 23px;
    width: 203px;
}

.progblock {
    border-radius: 1px;
    display: inline-block;
    background: linear-gradient(187deg, rgb(108, 108, 187) 45%, darkblue 95%);
    height: 17px;
    width: 14px;
    margin: 3px 0px;
}

.bf {
    width: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bl {
    width: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.leftalign {
    text-align: left;
    padding-left: 4px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: auto;
    position: fixed;
    transition: 500ms;
}

.loading img {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.desktop {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bluescreen {
    padding: 40px 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 170);
    color: white;
    font-family: 'Varela', sans-serif;
    margin: 0 auto;
}

.bluescreen p {
    max-width: 80%;
    margin: 40px auto;
    font-size: 25px;
    line-height: 1.4;
}

.taskbar {
    height: calc(var(--ui-scale)*30px);
    background: var(--clr-blue);
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.taskbaroptions {
    color: grey;
}

.startbutton {
    position: fixed;
    width: calc(var(--ui-scale)*97px);
    bottom: 0px;
    height: inherit;
    background: var(--clr-green);
    border-radius: calc(var(--ui-scale)*7px) /calc(var(--ui-scale)*14px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* b    order-bottom: 1px solid; */
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 1px 6px rgba(0, 0, 0, 0.5);
}

.logo {
    position: relative;
    height: 50%;
    width: auto;
    bottom: 155%;
    left: 20%;
    filter: drop-shadow(1px 1px 2px black);
}

.startbutton p {
    user-select: none;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0px;
    position: relative;
    color: white;
    font-weight: 500;
    left: 45%;
    bottom: 40%;
    font-size: calc(var(--ui-scale)*17px);
    text-shadow: 1px 2px 4px black;
}

.clockWidget {
    position: fixed;
    color: white;
    width: calc(var(--ui-scale)*129px);
    height: calc(var(--ui-scale)*30px);
    bottom: 0px;
    right: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 2px 4px black;
    background: var(--clr-cyan);
}

#clockDisplay {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: calc(var(--ui-scale)*11px);
    position: absolute;
    left: calc(var(--ui-scale)*78px);
    top: calc(var(--ui-scale)*(-3px));
}

.startmenu {
    /* background-color: rgb(255, 255, 255); */
    border-width: 1px;
    border-color: rgb(0, 0, 89);
    border-style: solid;
    border-radius: 15px 15px 15px 0;
    width: 450px;
    height: 600px;
    position: absolute;
    left: 1px;
    bottom: calc(var(--ui-scale)*30px);
    background: rgb(34, 87, 213);
    box-shadow: 1px -1px 9px rgb(0, 0, 87);
    transition: 200ms;
}


.clockWidget a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: calc(var(--ui-scale)*11px);
    position: absolute;
    top: calc(var(--ui-scale)*7px);
}

.systray {
    position: absolute;
    width: calc(var(--ui-scale)*23px);
    height: calc(var(--ui-scale)*23px);
    border-radius: calc(var(--ui-scale)*5px);
    /* background-color: teal; */
    top: calc(var(--ui-scale)*3px);
    text-align: center;
    margin: 0 auto;
}
.systray-icon{
    height: inherit;
    width: inherit;
}

.unselectable {
    user-select: none;
}

.systray p {
    font-family: inherit;
    font-size: calc(var(--ui-scale)*7px);
}

.systray1 {
    left: calc(var(--ui-scale)*4px);

}

.systray2 {
    left: calc(var(--ui-scale)*32px);
}
.user-details{
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0.25) 9%, transparent 35%);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: inline-block;
    width: inherit;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 120px
}
#username{
    font-size: 36px;
    display:inline-block;
    position: relative;
    top: -30px;
    left: 20px;
}
.user-avatar{
    background: rgb(192, 192, 192);
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    width: 80px;
    height: 80px;
    display: inline-block;
}
.startmenu-content-container{
    background-color: rgba(255, 255, 255, 0.7);
    height: 70%;
    margin: 0 4px;
    /* box-shadow: inset -1px 0px 13px rgb(100, 100, 100) ; */

}
.content-left{
    width: 49%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    /* background-color: aquamarine; */
    vertical-align: top;

    display: inline-block;
    /* margin */
}
.content-right{
    width: 49%;
    height: 100%;
    vertical-align: top;
    /* background-color: turquoise; */
    display: inline-block;
}
.content-item{
    margin: 0px;
    height: 70px;
    width: 100%;
    /* background-color: aquamarine; */
}
.content-item:hover{
    /* background-color: rgb(255, 127, 249); */
    background-color: rgba(255, 255, 255, 0.6);
}
.content-item-icon{
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative; 
    top: 15px;
}
.content-item-title{
    /* color */
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    display: inline-block;
    user-select: none;
    /* position: relative; */
    /* top: -20px; */
    /* margin-left: 40px; */
}