:root {
    --ui-scale: 1.5;

    /* --var */
    --clr-blue: linear-gradient(to bottom,
            rgb(49, 104, 213) 0%,
            rgb(73, 147, 230) 10%,
            rgb(34, 87, 213) 27%,
            rgb(38, 99, 224) 86%,
            rgb(25, 65, 165) 100%);
    --clr-green: radial-gradient(circle at center, transparent 90%, rgba(0, 0, 0, 0.2) 97%),
        linear-gradient(165deg, rgba(255, 255, 255, 0.6), transparent 20%, rgba(0, 0, 0, 0.3)),
        linear-gradient(110deg, transparent 87%, rgba(0, 0, 0, 0.3)),
        linear-gradient(to bottom,
            rgb(58, 131, 60) 0%,
            rgb(141, 191, 142) 10%,
            rgb(74, 153, 75) 30%,
            rgb(59, 172, 60) 83%,
            rgb(38, 117, 68) 100%);
    --clr-red: radial-gradient(circle at center, transparent 90%, rgba(0, 0, 0, 0.2) 97%),
        linear-gradient(165deg, rgba(255, 255, 255, 0.6), transparent 20%, rgba(0, 0, 0, 0.3)),
        linear-gradient(110deg, transparent 87%, rgba(0, 0, 0, 0.3)),
        linear-gradient(to bottom,
            rgb(58, 131, 60) 0%,
            rgb(141, 191, 142) 10%,
            rgb(74, 153, 75) 30%,
            rgb(59, 172, 60) 83%,
            rgb(38, 117, 68) 100%);

    --clr-cyan: linear-gradient(to bottom,
            rgb(43, 187, 249) 0%,
            rgb(108, 212, 250) 13%,
            rgb(25, 183, 241) 29%,
            rgb(15, 143, 233) 90%,
            rgb(25, 65, 165) 100%);
    --clr-loading: black;
    --clr-b-grey: rgb(76, 76, 76);
}

#startup {
    font-family: Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: grey;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;

}

.darken {
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    /* z-index: -5; */
}

.xpbutton {
    border-radius: 12%;
    margin: 10% auto;
    z-index: 2;
}

.gone {
    display: none;
}

.square {
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: grey;
    /* border-width: 7px; */
}

.circle {
    background: radial-gradient(circle at center, transparent 45%, white 45%, white 55%, transparent 55%);
    height: 100%;
    width: 100%;
    margin: auto auto;
    border-radius: 100%;
}

.vbar {
    background: linear-gradient(to bottom, transparent 30%, white 30%, white 70%, transparent 70%);
    height: 100%;
    width: 7%;
    margin: auto auto;
    /* border-radius: 10%; */
}


.power-on {
    background: var(--clr-green);
    filter: saturate(0);
}

.power-on:hover {

    filter: saturate(4);
}

html {
    background-color: var(--clr-loading);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

}

.hide {
    /* //transform: scale(0.98); */
    opacity: 0;
    /* visibility: hidden; */
    /* display: none; */
}

#progressbar {
    /* DOES NOT RESPOND TO UI STYLE! */
    margin-top: 30px;
    /*  */
    background-color: var(--clr-loading);
    /* /border: 2px 2px red solid; */
    border-color: var(--clr-b-grey);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    height: 23px;
    width: 203px;
    /* //background: linear-gradient(to bottom left, rgba(0, 0, 255, 0.218) 20%, rgba(0, 0, 139, 0.361) 50%); */
}



.progblock {
    border-radius: 1px;
    display: inline-block;
    background: linear-gradient(187deg, rgb(108, 108, 187) 45%, darkblue 95%);
    height: 17px;
    width: 14px;
    margin: 3px 0px;
}

.bf {
    width: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bl {
    width: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.leftalign {
    text-align: left;
    padding-left: 4px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: auto;
    position: fixed;
    transition: 500ms;
}

.loading img {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.desktop {
    height: 100vh;
    width: 100vw;
    /* background-image: url("/images/bg.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-clip: ; */
    /* background-repeat: ; */
    background-size: cover;
    /* transition: 200ms; */
}

.bluescreen {
    padding: 40px 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 170);
    color: white;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    margin: 0 auto;
}

.bluescreen p {
    /* position: f?ixed; */
    max-width: 80%;
    margin: 40px auto;
    font-size: 25px;
    line-height: 1.4;
}

.taskbar {
    height: calc(var(--ui-scale)*30px);
    background: var(--clr-blue);
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.taskbaroptions {
    color: grey;
}

.startbutton {
    position: fixed;
    width: calc(var(--ui-scale)*97px);
    bottom: 0px;
    height: inherit;

    background: var(--clr-green);



    /* background: radial-gradient(circle at 10% 10%, transparent, white 3%, transparent 30%)); */

    /* border-top-right-radius: 5px /15px; */
    /* border-bottom-right-radius: 5px; */
    border-radius: calc(var(--ui-scale)*7px) /calc(var(--ui-scale)*14px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border-right: 1px solid; */
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 1px 6px rgba(0, 0, 0, 0.5);
}

.logo {
    position: relative;
    height: 50%;
    width: auto;
    bottom: 155%;
    left: 20%;
    filter: drop-shadow(1px 1px 2px black);
    /* filter: saturate(10); */
    /* //box-shadow: 1px 1px 4px black; */
    /* text-shadow: 1px 1px 4px black; */
}

.startbutton p {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    position: relative;
    color: white;
    font-weight: 500;
    left: 45%;
    bottom: 40%;
    font-size: calc(var(--ui-scale)*17px);
    text-shadow: 1px 2px 4px black;
}

.clockWidget {
    position: fixed;
    color: white;
    width: calc(var(--ui-scale)*129px);
    height: calc(var(--ui-scale)*30px);
    bottom: 0px;
    right: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 2px 4px black;
    background: var(--clr-cyan);
}

#clockDisplay {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: calc(var(--ui-scale)*11px);
    position: absolute;
    left: calc(var(--ui-scale)*78px);
    /* bottom: 4px; */
    top: calc(var(--ui-scale)*(-3px));
}

.clockWidget a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    /* font-weight: 100; */
    font-size: calc(var(--ui-scale)*11px);
    position: absolute;
    /* left: 10px; */
    /* bottom: 4px; */
    top: calc(var(--ui-scale)*7px);
}

.systray {
    position: absolute;
    width: calc(var(--ui-scale)*23px);
    height: calc(var(--ui-scale)*23px);
    border-radius: calc(var(--ui-scale)*5px);
    background-color: teal;
    top: calc(var(--ui-scale)*3px);
    text-align: center;
    margin: 0 auto;
}

.unselectable {
    user-select: none;
}

.systray p {
    font-family: inherit;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: calc(var(--ui-scale)*7px);
    /* bottom: 5px; */


}

.systray1 {
    left: calc(var(--ui-scale)*4px);

}

.systray2 {
    left: calc(var(--ui-scale)*32px);
}

/*
taskbar: the main blue




active task: looks like a button 160x25 float mt-3 mb-2 outline 1px border radius 2px font 8px high (l=9 high) outline: use 30/30 lightest point (top left) 112,
170,
250 darkest point bottom 57,
123,
246

START BUTTON: bold,
italic allsmall t=12 high shaddow,
offset 1 down 1 right 4px blur. color:

take note 91:16 soft light fade.
width: exactly 97 px
rounding top-right 5px right top 13 rounding bottom-right 5 right-bottom 14 time wigit (3 Icons) 29px high (top one seems like normal task bar) fade top to bottom: 1/29 22,
173,
240

*/