.window {
    border-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* width: wrap-content; */
    height: fit-content;
    margin: auto;
    width: fit-content;

    /* //margin-top: 200px; */
    padding-bottom: 2px;


    background: var(--clr-blue);
}

.top-bar {
    /* align-items: end; */
    /* text-align: justify; */
    text-align: center;
    background: var(--clr-blue);
    height: 30px;
    /* width: inherit; */
    margin: 0 0px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.menu-bar {
    user-select: none;
    position: relative;
    height: 30px;
    background-color: rgb(236, 233, 216);
    margin: 0 4px;
    /* padding-top: 9px; */
    /* bottom: 465px; */
    box-shadow: inset 00px 2px 4px rgba(0, 0, 0, 0.4);
    /* z-index: 2; */
}
.window-logo{
    /* align-self: flex-end; */
    height: 26px;
    /* width: auto; */
    display: inline;
    filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
    /* position: relative; */
    /* top: 5px; */
    /* right: 50px; */
    position: relative;
    top: 3px;
/* left: 4px; */
}
.window-titlebar{
    /* width: 53%; */
    width: auto;
    display: inline;
    vertical-align: text-bottom;
    position: relative;
    left: 4px;
}
.window-title{
    /* color: white; */
    position: relative;
    top: -5px;
    display: inline;
    text-align: left;
    line-height: 0;
    color: white;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px black;
    
}

.menu-bar-item {
    /* position: relative;
    top: 7px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 13px;
    line-height: 2.5;
    /* padding-top: 50px; */
    /* padding-top: 15px; */
    /* padding-top: 4px; */
    text-decoration: none;
    color: black;
}

.window-content {
    margin: 0px 4px 4px;

    background-color: rgb(192, 192, 192);
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, .3), inset -6px -6px 10px 0 rgba(0, 0, 0, .3);
    height: fit-content;
    width: fit-content;
    min-width: fit-content;

    padding: 9px;    
}


.disabled-toolbar-button {
    border-color: rgba(255, 255, 255, 0.418);
}
.spacer{
    width: 69px;
    display: inline-block;
}

.toolbar {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 4px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: aquamarine;
}
.toolbar-wrapper{
    position: relative;
    top: -02px;
    display: inline-block;
}

.exit {
    /* right: 4px; */
    margin-right: 4px;
    /* background-color: red; */
    background: var(--clr-button), rgb(230, 16, 16);
}

.maximize {
    /* right: 31px; */
    background: var(--clr-button), var(--clr-blue);
}

.minimize { 
    background: var(--clr-button), var(--clr-blue);
}

.context-menu{
    /* background-color: rgb(221, 221, 221);
     */
     background-color:rgb(192, 192, 192);
     position: fixed;

    /* d// isplay:flex; */
    /* left:    4px; */

    width: fit-content;
    height: fit-content;

}
.context-menu-item{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    user-select: none;
    /* display: inherit; */
    line-height: 2;
    /* display: block; */
    text-decoration: none;
}